.card-container {
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%; 
    flex-direction: column;
  }
  
  .contact-card-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .contact-card-info {
    flex-grow: 1;
    margin-left: 15px;
  }
  
  .contact-card-info h5 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .contact-card-info p {
    margin: 5px 0;
    color: hsl(0, 0%, 0%);
  }
  
  .button-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .button-group button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .button-group button i {
    font-size: 1.2rem;
    color: #333;
  }
  
  .button-group button:hover i {
    color: #000;
  }

 